<li>
	<h3>{{burger_name}}</h3>
	{{#if devour}}
		<form class='devour-form button-size'>
			<input type='hidden' class='burger_id' type='text' value={{this.id}}>
			<br>
			<button type='submit' class='btn btn-warning'>DEVOUR!</button>
		</form>
	{{else}}
		<form class='delete-form button-size'>
			<input type='hidden' class='burger_id' type='text' value={{this.id}}>
			<br>
			<button type='submit' class='btn btn-danger'>DELETE!</button>
		</form>
	{{/if}}
</li>
